USE [master]
GO
/****** Object:  Database [EmployeeRecordApi]    Script Date: 24-11-2019 11:28:17 PM ******/
CREATE DATABASE [EmployeeRecordApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeRecordApi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EmployeeRecordApi.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmployeeRecordApi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EmployeeRecordApi_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeRecordApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeRecordApi]
GO
/****** Object:  Table [dbo].[EmployeeMaster]    Script Date: 24-11-2019 11:28:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[FatherName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Designation] [nvarchar](50) NULL,
 CONSTRAINT [PK_EmployeeMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[EmployeeMaster] ON 

GO
INSERT [dbo].[EmployeeMaster] ([ID], [Name], [FatherName], [Email], [Address], [Mobile], [Designation]) VALUES (1, N'Kamal', N'abcq', N'abc@abc.com', N'abcd', N'98989897878', N'developer')
GO
SET IDENTITY_INSERT [dbo].[EmployeeMaster] OFF
GO
USE [master]
GO
